<pre>---
- name: Hello world as an <a href="https://en.wikipedia.org/wiki/Ansible_(software)">Ansible</a> Playbook
  hosts: ansibleclient01.local
  tasks:
    - name: Create a file called '/tmp/testfile.txt' with the content 'hello world'.
      copy:
        content: hello worldn
        dest: /tmp/testfile.txt</pre>
