<pre>&lt;!-- Hello World for <a target="_top" href="http://en.wikipedia.org/wiki/ASP.NET">ASP.NET</a> using <a target="_top" href="http://en.wikipedia.org/wiki/C_sharp_(programming_language)">C#</a> --&gt;
&lt;% @ Page Language="C#" %&gt;
&lt;% ="Hello World!" %&gt;</pre>
