<pre>-- Hello world in TAS Assembler for the <a href="https://de.wikipedia.org/wiki/TR_440">TR 440</a> --

HELLO.=SEGM,XBA VB616, SSR 6 16,
FB616=R&amp;ENDE,
 
VB616=FB616/AG, 3/H, TEXT/AG, 3/H,
TEXT=''*020Hello World!'',
ENDE,</pre>
