<pre># Hello World as a 3D object in <a target="_top" href="http://en.wikipedia.org/wiki/Blender_(software)">Blender</a>

import Blender
from Blender import Scene, Text3d

txt = Text3d.New("Text")
txt.setText('Hello, world!')
Scene.GetCurrent().objects.new(txt)
Blender.Redraw()</pre>
