<pre>// Hello World in ISO <a target="_top" href="http://en.wikipedia.org/wiki/C%2B%2B">C++</a>

#include &lt;iostream&gt;

int main()
{
    std::cout &lt;&lt; "Hello World!" &lt;&lt; std::endl;
}</pre>
