<pre>       * Hello World in <a target="_top" href="http://en.wikipedia.org/wiki/COBOL">COBOL</a>

*****************************
IDENTIFICATION DIVISION.
PROGRAM-ID. HELLO.
ENVIRONMENT DIVISION.
DATA DIVISION.
PROCEDURE DIVISION.
MAIN SECTION.
DISPLAY "Hello World!"
STOP RUN.
****************************</pre>
