<pre>;; Hello World in <a href="http://en.wikipedia.org/wiki/Fjölnir_(programming_language)" target="_top">Fj&ouml;lnir</a> (Icelandic programming language)

"hello" &lt; main
{
   main -&gt;
   stef(;)
   stofn
       skrifastreng(;"Hall&oacute; Ver&ouml;ld!"),
   stofnlok
}
*
"GRUNNUR"
;</pre>
