<p>Hello world in <a href="http://esolangs.org/wiki/Folders" target="_blank">Folders</a>.
No comments possible. The source code of the program is the structure of nested folders
in the Windows file system depicted here.</p>
<p><img src="hellopics/Folders.png" alt="picture of folder structure"></p>
