<pre>/* Hello World in <a target="_top" href="http://en.wikipedia.org/wiki/Not_eXactly_C">NXC</a> ("Not Exactly C") */
    
#include "NXCDefs.h"
 
task main()
{
 TextOut(0, LCD_LINE1, "Hello World!");
}</pre>
