<pre>% Hello World in <a target="_top" href="http://en.wikipedia.org/wiki/Oz_(programming_language)">Oz</a>

functor
import
  System
  Application
define
  {System.showInfo "Hello World!"}
  {Application.exit 0}
end</pre>
