<pre>\ Hello world in <a href="https://en.wikipedia.org/wiki/Rapira">Rapira</a>

&#1055;&#1056;&#1054;&#1062; &#1057;&#1058;&#1040;&#1056;&#1058;()
    &#1042;&#1067;&#1042;&#1054;&#1044;: 'Hello World!'
&#1050;&#1054;&#1053; &#1055;&#1056;&#1054;&#1062;</pre>
