<pre>// Hello world in <a href="https://en.wikipedia.org/wiki/IBM_RPG" target="_blank">RPG IV</a> version 5

D wait           S              1

  /Free
   dsply ( 'Hello World!') ' ' wait;

   *inlr = *on;    
</pre>
