<pre>' Hello World in <a target="_top" href="http://en.wikipedia.org/wiki/Spin_(programming_language)">Spin</a>

CON
  _CLKMODE = XTAL1 + PLL16x
  _XINFREQ = 5_000_000
  TV_PIN = 12

OBJ
  Tv: "TV_Text"

PUB Main
  Tv.Start( TV_PIN )
  Tv.Str( String( "Hello World" ) )</pre>
