<pre>' Hello world in <a href="http://en.wikipedia.org/wiki/Visual_Basic_for_Applications" target="_blank">Visual Basic for Applications</a>, Excel version

Private Sub Workbook_Open()
    MsgBox "Hello world!"
End Sub</pre>
