<p>Hello world in <a href="http://esolangs.org/wiki/Velato" target="_blank">Velato</a>. The source code is <a href="hellopics/Velato.mid">this MIDI file</a>, or the following score.</p>
<p><img src="hellopics/Velato.gif" alt="Screenshot of source code"></p>
