<pre>
&#27880;&#26352;&#12290;&#12300;&#12300; Hello world in <a href="https://wy-lang.org/">wenyan</a> &#12301;&#12301;&#12290;
&#21566;&#26377;&#19968;&#35328;&#12290;&#26352;&#12300;&#12300;&#21839;&#22825;&#22320;&#22909;&#22312;&#12290;&#12301;&#12301;&#12290;&#26360;&#20043;&#12290;
</pre>
